.RowHeading{
    text-align: center;
    background-color: rgb(140, 89, 194);
    color: rgb(255, 255, 255);
   
}

table{
    text-align: left;
   
}

table tr:nth-child(odd) td{
    background-color: rgb(209, 190, 227);
    
}