@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Open+Sans');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: grid;
    grid-template-areas: 
    'a b'
    'c e'
    'd'
    'f g'
    'h i'
    'j k'
    'm'
    'n o p'
    'q'
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
}


h1, h2{
    font-family: 'Poppins', sans-serif;
}

p{
    opacity: 0.6;
}

section{
    max-width: 1440px;
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
}

.content{
    box-shadow: 0 0 10px rgb(220, 220, 220);
    border-radius: 20px;
    margin: 40px;
    padding: 60px;
}
.content img{
    width: 80%;
}

img{
    max-width: 100%;
}

header{
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

nav{
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    display: flex;
    display: inline;
    
}

button{
    border-radius: 40px;
    padding: 15px 60px;
    cursor:pointer;
    font-size: 16px;
    border: none;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(220, 220, 220, 0.212);
}
.btn1{
    background-color: white;
    
}
.btn2{
    background-color: hsl(322, 100%, 66%);
    color: rgb(226, 223, 223);
}
.flex{
    align-items: center;
    display: flex;
}

.flex>div, .flex>ul{
    flex: 1;
}

.fa {
    font-size: 16px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: aliceblue;
    border: solid 1px whitesmoke;
  }

footer{
    background-color: hsl(192, 100%, 9%);
    color: aliceblue;
    padding: 180px 0 60px;
}
.floating{
    display: inline-block;
    align-items: center;
    margin-bottom: -60%;
    text-align: center;
    background-color: white;
    box-shadow: none;
    width: 80%;
}

a{
    text-decoration: none;
    color: aliceblue;
}

li{
    list-style: none;
    padding: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
}
